# Logs
logs
*.log

*.tgz
*.zip

# ms-windows
Thumbs.db
ehthumbs.db
Desktop.ini

# most common renders and textures
*.png
*.jpeg
*.jpg
*.mp4
*.mpeg
*.mov

# exported models
*.fbx
*.glb
*.gltf
*.obj
*.mat

node_modules/
